@define-color error #eb6f92;
@define-color on-error #eb6f92;
@define-color primary #908caa;
@define-color surface #1f1d2e;
@define-color on-surface #e0def4;
@define-color surface-variant #6e6a86;
@define-color on-tertiary #f6c177;

@import url("file:///home/ian/.cache/matugen/waybar.css");

* {
    font-family: MesloLGS Nerd Font Propo, monospace;
    font-size: 12px;
    font-weight: 400;
    color: @on-surface;
    border-radius: 0;
}

window#waybar {
    background-color: alpha(@surface, 0.85);
}

.modules-right {
    padding: 4px 8px;
}

#workspaces button {
    padding: 0 4px;
    border: none;
    box-shadow: none;
}

#workspaces button.active {
    background: alpha(@primary, 0.65);
    color: @on-primary;
    font-weight: 600;
}

#tags button.focused {
    background: alpha(@primary, 0.65);
    color: @on-primary;
    font-weight: 600;
}

#workspaces button:hover {
    background: alpha(@primary, 0.65);
    color: @on-primary;
    border: none;
    box-shadow: none;
}

#window {
    padding-left: 8px;
    padding-right: 16px;
}

window#waybar.empty #window {
    background: none;
    padding: 0;
    border-radius: 0;
}

#submap {
    font-weight: 600;
    color: #eb6f92;
    background-color: #ebbcba;
    margin: 0 4px;
    padding: 0 10px;
    border-radius: 14px;
}

#pulseaudio,
#backlight,
#network,
#battery,
#cpu,
#temperature,
#tray,
#clock {
    border-left: 1px solid rgba(144, 140, 170, 0.5);
    padding: 0 12px;
}

#pulseaudio {
    border-left: none;
}

#pulseaudio.muted {
    color: @surface-variant;
}

#network.disconnected {
    color: @error;
}

@keyframes warning-blink {
    to {
        color: alpha(@on-tertiary, 0.5);
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.warning:not(.charging) {
    animation-name: warning-blink;
    animation-duration: 1.5s;
    animation-timing-function: steps(24);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: @on-tertiary;
}

@keyframes critical-blink {
    to {
        color: alpha(@on-error, 0.25);
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    animation-name: critical-blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: @error;
    color: @on-error;
}

#cpu {
    padding-right: 4px;
}

#temperature {
    border-left: none;
    padding-left: 4px;
}

#temperature.critical {
    color: @on-error;
}

#clock {
    padding-right: 0px;
}
