* {
    font-family: MesloLGS Nerd Font Propo, monospace;
    font-size: 12px;
    color: #e0def4;
    border-radius: 0;
}

window#waybar {
    background: transparent;
}

.modules-left {
    margin-left: 4px;
}

.modules-right {
    font-weight: 600;
    background-color: rgba(31, 29, 46, 0.65);
    margin-right: 4px;
    padding: 0 6px;
    border-radius: 14px;
}

#workspaces button {
    font-weight: 600;
    background-color: rgba(31, 29, 46, 0.65);
    padding: 0 6px;
    border: none;
    box-shadow: none;
}

#workspaces button.active {
    background: rgba(144, 140, 170, 0.65);
}

#workspaces button:hover {
    background: rgba(144, 140, 170, 0.65);
    border: none;
    box-shadow: none;
}

#workspaces>button:first-child {
    padding-left: 10px;
    border-radius: 14px 0 0 14px;
}

window#waybar.empty #workspaces button:last-child {
    padding-right: 10px;
    border-radius: 0 14px 14px 0;
}

#window {
    font-weight: 400;
    background-color: rgba(31, 29, 46, 0.65);
    padding-left: 8px;
    padding-right: 16px;
    border-radius: 0 14px 14px 0;
}

window#waybar.empty #window {
    background: none;
    padding: 0;
    border-radius: 0;
}

#submap {
    font-weight: 600;
    color: #eb6f92;
    background-color: #ebbcba;
    margin: 0 4px;
    padding: 0 10px;
    border-radius: 14px;
}

#pulseaudio,
#network,
#battery,
#cpu,
#temperature,
#tray,
#clock {
    padding: 0 10px;
}

#pulseaudio.muted {
    color: rgb(110, 106, 134);
}

#network.disconnected {
    color: #eb6f92;
}

@keyframes warning-blink {
    to {
        color: rgba(246, 193, 119, 0.5);
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.warning:not(.charging) {
    animation-name: warning-blink;
    animation-duration: 1.5s;
    animation-timing-function: steps(24);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: rgba(246, 193, 119, 1);
}

@keyframes critical-blink {
    to {
        color: rgba(235, 111, 146, 0.25);
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    animation-name: critical-blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: rgba(235, 111, 146, 1);
}

#cpu {
    padding-right: 2px;
}

#temperature {
    padding-left: 2px;
}

#temperature.critical {
    color: #eb6f92;
}
