[Desktop Entry]
Name=qutebrowser (Work)
GenericName=Web Browser
Exec=sh -c 'qutebrowser --basedir "$HOME/.local/share/qutebrowser-work" "$@"' sh %u
Icon=qutebrowser
Type=Application
Terminal=false
Categories=Network;WebBrowser;
