window {
  border-radius: 14px;
  opacity: 0.95;
  background-color: rgba(38, 35, 58, 0.65);
}

label {
  font-family: "MesloLGS Nerd Font";
  font-size: 11pt;
  color: #e0def4;
}

image {
  color: #e0def4;
}

progressbar {
  border-radius: 14px;
}

progress {
  background-color: #c4a7e7;
}
