[Desktop Entry]
Categories=Network;InstantMessaging;Chat
Exec=/bin/vesktop --ozone-platform=wayland %U
GenericName=Internet Messenger
Icon=vesktop
Keywords=discord;vencord;electron;chat
Name=Vesktop
StartupWMClass=Vesktop
Type=Application
Version=1.4
